<!DOCTYPE html>
<html lang="en" ng-app="ebayAff">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Dimas Node project</title>

  <!-- bower:js -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

  
  <!-- endbower -->

  <!-- bower:css -->
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
  <!-- endbower -->

   <!-- inject:js -->
   

   <script src="/js/cbpAnimatedHeader.js"></script>
   

   <script src="/js/cbpAnimatedHeader.min.js"></script>
   

   <script src="/js/classie.js"></script>
   

   <script src="/js/contact_me.js"></script>
   

   <script src="/js/freelancer.js"></script>
   

   <script src="/js/jqBootstrapValidation.js"></script>
   

   <!-- endinject -->

   <!-- inject:css -->
   <link rel="stylesheet" href="/css/freelancer.css">
   <!-- endinject -->


<!--Angular-->
  <script src="../../app/entry.js"></script>
  <script src="../../app/test.js"></script>
   
</head>
<body ng-app="mainController"> 
<h1>Angular test </h1>
<img src="img\profile.png">
<h2>Dima</h2>
</body>

</html>



